*

!resources/
!resources/genome/
!resources/genome/**

!resources/annotations/
!resources/annotations/**

!resources/blacklists/
!resources/blacklists/**

!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
!CHANGELOG.md
!*.smk