*

!resources/
!resources/genome/
!resources/genome/**

!resources/annotations/
!resources/annotations/**

!resources/blacklists/
!resources/blacklists/**

!resources/protein_atlas/
!resources/protein_atlas/**

!workflow/
!workflow/envs/
!workflow/envs/**

!workflow/schemas/
!workflow/schemas/**

!workflow/scripts/
!workflow/scripts/**

!config/example.config.yml
!config/samples.tsv
!config/regions.tsv


!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
!CHANGELOG.md
!*.smk
*.code-workspace
