*
analysis
analysis/*
!analysis/README.md
!example.config.yml
#!config
#!config/*
!resources
!resources/blacklist**
#!resources/**
!workflow
!workflow/**
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
!CHANGELOG.md
!*.smk
